<header class="header">
  <div class="container">
    <div class="header_inner">

      <div class="header_left">
        <svg class="header_logo" width="39" height="36">
          <use xlink:href="./img/icons.svg#icon-logo"></use>
        </svg>
        <span class="header_title">Product</span>
      </div>

      <nav class="nav">
        <ul class="nav_list">
          <li><a href="index.html" class="nav_link">Product</a></li>
          <li><a href="pricing.html" class="nav_link">Pricing</a></li>
          <li><a href="customers.html" class="nav_link">Customers</a></li>
          <li><a href="resources.html" class="nav_link">Resources</a></li>
        </ul>
      </nav>

      <div class="header_buttons">
        <button class="header_btn btn_outline">Sign in</button>
        <button class="header_btn btn_primary">Sign up</button>
      </div>

    </div>
  </div>
</header>
