/* Styles for Mobile devices */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 145px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
